<header>
    <nav>
        <div class="logo"><a href="#">LFP</a></div>
        <ul class="navbar hidden" id="navbar">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">About Us</a></li>
            <li class="nav-item"><a href="#">Portfolio</a></li>
            <li class="nav-item"><a href="#">Contact Us</a></li>
            
        </ul>
        <span class="menu" id="burger"><a href="#"><i class="fas fa-bars"></i></a></span>
    </nav>
</header>