<div class="product-grid">
    {{#each products}}
        <div class="card">
            <img class="product-image" src="{{this.imagePath}}">
                <div class="card-block">
                    <h4 class="card-title">
                        {{this.title}}
                    </h4>
                    <p class="card-description">
                        {{this.description}}
                    </p>
                    <div class="price-qty">
                        <div class="price">
                            ${{this.price}}
                        </div>
                        <p>Qty:
                            <input type="text" class="qty">
                        </p>
                        
                    </div>
                    <button class="buy" type="button">
                            Buy now
                    </button>


                </div>
        </div>
    {{/each}}
</div>
