<div class="card">
    <img class="product-image" src="">
        <div class="card-block">
            <h4 class="card-title">

            </h4>
            <p class="card-description">

            </p>
            <div class="price-qty">
                <div class="price">

                </div>
                <input type="text" class="qty">
            </div>
            <button class="buy">
                
            </button>


        </div>
</div>
